{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-primaryy py-5 mb-5">
        <div class="container py-5">
            <div class="row align-items-center py-4">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="display-4 mb-4 mb-md-0 text-secondaryy text-uppercase">About Us</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-sm btn-outline-light" href="{% url 'home' %}">Home</a>
                        <i class="fas fa-angle-double-right text-light mx-2"></i>
                        <a class="btn btn-sm btn-outline-light disabled" href="{% url 'about' %}">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="d-flex flex-column align-items-center justify-content-center bg-about rounded h-100 py-5 px-3">
                        <i class="fa fa-5x fa-award text-primary mb-4"></i>
                        <h1 class="display-2 text-white mb-2" data-toggle="counter-up">10</h1>
                        <h2 class="text-white m-0">Years Experience</h2>
                    </div>
                </div>
                <div class="col-lg-7 pt-5 pb-lg-5">
                    <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Learn About Us</h6>
                    <h1 class="mb-4 section-title">We Provide The Best Services all Round the World</h1>
                    <p class="text-muted font-weight-normal mb-3">At VGS WORLDWIDE LOGISTICS LTD, we don't just provide services — we forge lasting partnerships built on trust, integrity, and reliability. Whether Its a small or large assignment, you can count on us to deliver results that exceed your expectations, every time.</p>
                    <!-- <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p> -->
                    <div class="d-flex align-items-center pt-4">
                        <!-- <a href="about.html" class="btn btn-primary mr-5">Learn More</a> -->
                        <button type="button" class="btn-play" data-toggle="modal"
                            data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="font-weight-normal text-white m-0 ml-4 d-none d-sm-block">Play Video</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>        
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->


    <!-- Features Start -->
    <div class="container-fluid bg-light py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-7 pt-lg-5 pb-3">
                    <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">Why Choose Us</h6>
                    <h1 class="mb-4 section-title">Leading Excellence in Logistics Solutions</h1>
                    <p class="mb-4">Expertise: Decades of industry experience. -
                        Innovation: Pioneering solutions for efficiency. - 
                        Reliability: Consistent, dependable service. - 
                        Sustainability: Commitment to environmental stewardship.<BR>
                        Experience the VGS WORLDWIDE LTD difference today.</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="text-secondary mb-2" data-toggle="counter-up">100</h1>
                            <h6 class="font-weight-semi-bold mb-sm-4">Workers</h6>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="text-secondary mb-2" data-toggle="counter-up">895</h1>
                            <h6 class="font-weight-semi-bold mb-sm-4">Happy Clients</h6>
                        </div>
                        <div class="col-sm-4">
                            <h1 class="text-secondary mb-2" data-toggle="counter-up">1500</h1>
                            <h6 class="font-weight-semi-bold mb-sm-4">Projects Done</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" style="min-height: 400px;">
                    <div class="position-relative h-100 rounded overflow-hidden">
                        <img class="position-absolute w-100 h-100" src="{% static 'img/feature.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


    <!-- Team Start at your service -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-end mb-4">
                <div class="col-lg-6">
                    <h6 class="text-secondary font-weight-semi-bold text-uppercase mb-3">We Are At Your Service</h6>
                    <h1 class="section-title mb-3">Integrated Solutions for Your Daily Needs</h1>
                </div>
                <div class="col-lg-6">
                    <p class="font-weight-normal text-muted mb-3"> We proudly serve clients on a global scale, with a reach that extends across continents. Our international presence allows us to seamlessly navigate diverse markets and cultures, providing tailored solutions wherever you operate. Whether you're seeking logistics support, cleaning services, waste environmental management, or transportation solutions, our global network ensures that your needs are met efficiently and effectively.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel team-carousel position-relative">
                        <div class="team d-flex flex-column text-center rounded overflow-hidden">
                            <div class="position-relative">
                                <div class="team-img">
                                    <img class="img-fluid w-100" src="{% static 'img/team-1.jpg' %}" alt="">
                                </div>
                                <div class="team-social d-flex flex-column align-items-center justify-content-center bg-primary">
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-secondary btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column bg-primary text-center py-4">
                                <h5 class="font-weight-bold">Regular Cleaning</h5>
                                <p class="text-white m-0">At Your Service</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center rounded overflow-hidden">
                            <div class="position-relative">
                                <div class="team-img">
                                    <img class="img-fluid w-100" src="{% static 'img/3.jpeg' %}" alt="">
                                </div>
                                <div class="team-social d-flex flex-column align-items-center justify-content-center bg-primary">
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-secondary btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column bg-primary text-center py-4">
                                <h5 class="font-weight-bold">Waste Bin Removal</h5>
                                <p class="text-white m-0">At Your Service</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center rounded overflow-hidden">
                            <div class="position-relative">
                                <div class="team-img">
                                    <img class="img-fluid w-100" src="{% static 'img/1.jpeg' %}" alt="">
                                </div>
                                <div class="team-social d-flex flex-column align-items-center justify-content-center bg-primary">
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-secondary btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column bg-primary text-center py-4">
                                <h5 class="font-weight-bold">Harzadous Waste Removal</h5>
                                <p class="text-white m-0">At Your Service</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center rounded overflow-hidden">
                            <div class="position-relative">
                                <div class="team-img">
                                    <img class="img-fluid w-100" src="{% static 'img/5.jpeg' %}" alt="">
                                </div>
                                <div class="team-social d-flex flex-column align-items-center justify-content-center bg-primary">
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-secondary btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column bg-primary text-center py-4">
                                <h5 class="font-weight-bold">Cab to Airport</h5>
                                <p class="text-white m-0">At Your Service</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center rounded overflow-hidden">
                            <div class="position-relative">
                                <div class="team-img">
                                    <img class="img-fluid w-100" src="{% static 'img/secc.png' %}" alt="">
                                </div>
                                <div class="team-social d-flex flex-column align-items-center justify-content-center bg-primary">
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-secondary btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column bg-primary text-center py-4">
                                <h5 class="font-weight-bold">Festival Security</h5>
                                <p class="text-white m-0">At Your Service</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center rounded overflow-hidden">
                            <div class="position-relative">
                                <div class="team-img">
                                    <img class="img-fluid w-100" src="{% static 'img/2.jpeg' %}" alt="">
                                </div>
                                <div class="team-social d-flex flex-column align-items-center justify-content-center bg-primary">
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-secondary btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column bg-primary text-center py-4">
                                <h5 class="font-weight-bold">Van and Man</h5>
                                <p class="text-white m-0">At Your Service</p>
                            </div>
                        </div>
                        <div class="team d-flex flex-column text-center rounded overflow-hidden">
                            <div class="position-relative">
                                <div class="team-img">
                                    <img class="img-fluid w-100" src="{% static 'img/sec.png' %}" alt="">
                                </div>
                                <div class="team-social d-flex flex-column align-items-center justify-content-center bg-primary">
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-secondary btn-social mb-2" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-secondary btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="d-flex flex-column bg-primary text-center py-4">
                                <h5 class="font-weight-bold">Security</h5>
                                <p class="text-white m-0">At Your Service</p>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    
        document.addEventListener('DOMContentLoaded', function() {
          // Add event listener to "Get A Quote" button
          var getQuoteButton = document.getElementById('getQuoteButton');
          var formOverlay = document.getElementById('formOverlay');
          var closeButton = document.getElementById('closeButton');
          var submitButton1 = document.getElementById('submitButton1');
          var headerCarousel = $('#header-carousel');
        
          if (getQuoteButton) {
              getQuoteButton.addEventListener('click', function() {
                  if (formOverlay) {
                      formOverlay.classList.remove('hidden'); // Show form overlay
                      headerCarousel.carousel('pause'); // Pause the carousel
                  }
              });
          }
        
          if (closeButton) {
              closeButton.addEventListener('click', function() {
                  if (formOverlay) {
                      formOverlay.classList.add('hidden'); // Hide form overlay
                      headerCarousel.carousel('cycle'); // Resume the carousel
                  }
              });
          }
        
        
          if (submitButton1) {
            submitButton1.addEventListener('click', function() {
                  if (formOverlay) {
                    //   formOverlay.classList.add('hidden'); // Hide form overlay
                      headerCarousel.carousel('cycle'); // Resume the carousel
                  }
              });
          }
        
          // Prevent carousel from cycling when the form overlay is visible
          formOverlay.addEventListener('show', function() {
              headerCarousel.carousel('pause');
          });
        
          formOverlay.addEventListener('hide', function() {
              headerCarousel.carousel('cycle');
          });
        });
        
        
        
        </script>
        <script>
        
            function closeMessage(button) {
                var messageDiv = button.parentElement;
                messageDiv.style.display = 'none';
            }
            document.addEventListener('DOMContentLoaded', function() {
      // Add event listener to "Get A Quote" button
      var getQuoteButton = document.getElementById('getQuoteButton');
      if (getQuoteButton) {
        getQuoteButton.addEventListener('click', function() {
          var formOverlay = document.getElementById('formOverlay');
          if (formOverlay) {
            formOverlay.classList.remove('hidden'); // Show form overlay
          }
        });
      }
    
      // Add event listener to "Close" button
      var closeButton = document.getElementById('closeButton');
      if (closeButton) {
        closeButton.addEventListener('click', function() {
          var formOverlay = document.getElementById('formOverlay');
          if (formOverlay) {
            formOverlay.classList.add('hidden'); // Hide form overlay
          }
        });
      }
    
      // Add event listener to "Next" button
      var nextButton = document.getElementById('nextButton');
      if (nextButton) {
        nextButton.addEventListener('click', function(e) {
          e.preventDefault();
    
          const inputs = document.querySelectorAll('#personalInfoForm input[required]');
          let formValid = true;
    
          inputs.forEach(input => {
            if (input.value.trim() === '') {
              formValid = false;
              input.classList.add('error'); // Apply error style to empty required inputs
            } else {
              input.classList.remove('error');
            }
          });
    
          if (formValid) {
            var personalInfoForm = document.getElementById('personalInfoForm');
            var addressForm = document.getElementById('addressForm');
            if (personalInfoForm && addressForm) {
              personalInfoForm.classList.remove('active'); // Hide current form section
              addressForm.classList.add('active'); // Show next form section
            }
          }
        });
      }
    
      // Add event listener to "Submit" button
      var submitButton = document.getElementById('submitButton');
      if (submitButton) {
        submitButton.addEventListener('click', function(e) {
          e.preventDefault();
    
          const inputs = document.querySelectorAll('#addressForm input[required], #addressForm input[type="date"], #addressForm input[type="time"]');
          let formValid = true;
    
          inputs.forEach(input => {
            if (input.value.trim() === '') {
              formValid = false;
              input.classList.add('error'); // Apply error style to empty required inputs
            } else {
              input.classList.remove('error');
            }
          });
    
          if (formValid) {
            var formOverlay = document.getElementById('formOverlay');
            var thankYouMessage = document.getElementById('thankYouMessage');
            if (formOverlay && thankYouMessage) {
              formOverlay.classList.add('hidden'); // Hide form overlay
              thankYouMessage.classList.remove('initially-hidden'); // Show thank you message
            }
          }
        });
      }
    });
    
    
    
      document.getElementById("openQuoteModalMobile").addEventListener("click", function() {
        document.getElementById("quoteModal").style.display = "block";
      });
      
      document.getElementById("openQuoteModalDesktop").addEventListener("click", function() {
        document.getElementById("quoteModal").style.display = "block";
      });
      
      document.getElementsByClassName("close")[0].addEventListener("click", function() {
        document.getElementById("quoteModal").style.display = "none";
      });
      
      // Close the modal when clicking outside of it
      window.addEventListener("click", function(event) {
        if (event.target == document.getElementById("quoteModal")) {
          document.getElementById("quoteModal").style.display = "none";
        }
      });
    
      document.querySelector("#getQuoteButton").onclick = function (e) {
        $carousel.carousel('pause');
        alert("pause carousel");
        
      }
    
      function pause(){
       // alert("pause carousel");
       // $carousel.carousel('pause');
       // formOverlay.classList.add('hidden');
      }
    
          // Automatically advance the carousel to the next item every 5 seconds
        //   setInterval(function() {
        //         $('#header-carousel').carousel('next');
        //     }, 5000); // 5000 milliseconds = 5 seconds
    
        //       // Testimonials carousel
        //       $(".carousel-item").owlCarousel({
        //       autoplay: true,
        //       smartSpeed: 1000,
        //       items: 1,
        //       loop: true,
        //         });
      
        </script>
       <!-- Template Javascript -->
       <script src="{% static 'js/main.js' %}"></script>
    <!-- Team End -->
{% endblock %}
